.header {
  padding: 20px 20px 20px;
  margin-bottom: 20px;
  background-color: #069;
  color: #fff;
  font-size: 10px;
}
.header h1{
  font-size: 40px;
}
.header p{
  font-size: 20px;
}
.header .text {
  margin-top: 10px;
  text-align: center;
}
.header .date {
  font-size: 60px
  ;
  margin-left: 100px;
  position: absolute;
  top: 30px;
  right: 60px;
}
.header .img {
  width: 200px;
  position: absolute;
  left: 60px;
  top: 20px;
}
.header .img img {
  width: 100%;
}
.meetings {
  margin: 0 auto;
  padding: 0 60px;
}
.meetings .empty {
  color: gray;
  font-size: 20px;
  padding-left: 5px;
}
html {
  font-family: Calibri;
  font-size: 20px;
  background-color: #fff;
}
body {
  background-color: #fff;
}
